/* 375 small 1440 large */
.wrapper {
    height: 100vh;
    width: 100vw;
    color: var(--text);
}
.header {
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 10px 24px -7px rgba(2, 2, 2, .2);
    background-color: var(--itemsBG);
}

.title {
    font-weight: bold;
    margin-left: 20px;
    font-size: 17px;
}

.iconAndToggle {
    display: flex;
    height: 30%;
    width: auto;
    margin-right: 20px;
    font-weight: bold;
}
.iconAndToggle:hover {
    cursor: pointer;
}

label {
    clear: both;
}
label:hover {
    cursor: pointer;
}

svg {
    color: var(--text);
   height: 100%;
}

input {
    display: none;
}

@media only screen and (min-width: 1440px) {

    .header {
        border-bottom: solid gray 1px;
    }

    .title {
        margin-left: 40px;
        font-size: 20px;
    }

    .iconAndToggle {
        margin-right: 40px;
        width: auto;
    }
 
  }