<div class="wrapper">
  <div class="header">
    <div class="title">Where in the world?</div>
    <div class="iconAndToggle">
      <label for="darkTheme">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z"
            />
          </svg>
        <span>Dark Mode</span>
        </label>
        <input type="checkbox" id="darkTheme" [formControl]="darkTheme" />
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
